<ng-container *ngIf="listaProductos; else emptyList">
  <div *ngFor="let producto of listaProductos; let index of index" class="nav
    col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <img mat-card-image src="{{ producto.img | lowercase }}" alt="{{producto.nombre}}">
          {{ producto.nombre }}
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list aria-label="tipo">
            <mat-chip color="primary" selected>{{ producto.tipo }}</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="card-text">
          <p><b>Peso Unitario:</b> {{producto.peso}}g</p>
          <p><b>Precio:</b> {{ producto.precio | currency:'EUR'}}</p>
          <p><b>Stock Disponible:</b> {{producto.stock}} U</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="producto.stock <1"
          (click)="enviarAListaCarrito(producto)">Agregar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
<ng-template #emptyList>
  <h2>No se han encontrado productos</h2>
</ng-template>
